<h1>What do you want to do?</h1>
<ul>
  <li><%= link_to "Send iOS Push Notifications", apple_index_path %></li>
  <li><%= link_to "Send Android Push Notifications", android_index_path %></li>
  <li><%= link_to "Send Windows Phone Push Notifications", windows_path %></li>
</ul>

<div>
<% so_far = RailsPushNotifications::Notification.all.reduce([0, 0]) { |res, notif| [res[0] + notif.success, res[1] + notif.failed] } %>
<p>
<%= "#{so_far.reduce(&:+)} Notifications sent so far: #{so_far[0]} suceeded, #{so_far[1]} failed" %>
</p>
</div>
